/* Navbar size */

.navbar{
padding-top:15px;
padding-bottom:15px;
font-size:18px;
}

.site-title{
font-size:24px;
font-weight:bold;
}

/* Hero section */

.hero{
background:url('foods.jpg') center/cover no-repeat;
padding:120px 20px;
text-align:center;
color:white;
}

.hero h1{
font-size:60px;
font-weight:bold;
}

.hero p{
font-size:24px;
}